{% autoescape off %}

{{ user.username }},

User {{ requesting_user.username }} requested to change the reservation originally scheduled for:

- **Date & Time**: {{ reservation.date_time }}
- **Room**: {{ reservation.room.room_number }}
- **Building**: {{ reservation.room.building.name }}

**New proposed details:**
{% if reservation.proposed_date_time %}
- **New Date & Time**: {{ reservation.proposed_date_time }}
{% endif %}
{% if reservation.proposed_room %}
- **New Room**: {{ reservation.proposed_room.room_number }}
- **New Building**: {{ reservation.proposed_room.building.name }}
{% endif %}

Please click the link below to confirm the proposed changes:

<a href="{{ protocol }}://{{ domain }}/reservation_update_confirmation/{{ uid }}/{{ token }}/?reservation_id={{ reservation.id }}">
    Confirm reservation change
</a>

{% endautoescape %}
